# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Kadai1/Kadai1.sln
Kadai1/.vs/Kadai1/v16/Browse.VC.db
Kadai1/.vs/Kadai1/v16/Browse.VC.db-shm
Kadai1/.vs/Kadai1/v16/Browse.VC.opendb
Kadai1/.vs/Kadai1/v16/ipch/AutoPCH/498d9e556533b9c3/KADAI1.ipch
Kadai1/.vs/Kadai1/v16/ipch/AutoPCH/d24a655a07b634/KADAI1.ipch
Kadai1/.vs/Kadai1/v16/Browse.VC.db-wal
Kadai1/Kadai1/Kadai1.vcxproj
Kadai1/Kadai1/Kadai1.vcxproj.filters
Kadai1/Kadai1/Kadai1.vcxproj.user
Kadai1/Kadai1/x64/Debug/
Kadai1/.vs/
Kadai1/x64/
Kadai1/Kadai1/x64/Release/Kadai1.log
Kadai1/Kadai1/x64/
