# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Kadai1/.vs/
Kadai1/x64/
Kadai1/Kadai1/x64/
Kadai2/.vs/
Kadai2/Kadai2/x64/
Kadai2/x64/
*.db
Kadai3/Kadai3/.vs/
*.sln
*.vcxproj
*.filters
*.user
*.log
Kadai3/Kadai3/x64/
Kadai4/.vs/
Kadai4/x64/
